@import 'vars';

@mixin text-field($height) {
  box-sizing: border-box;
  display: inline-block;
  width: $input-field-width;
  max-width: 750px;
  height: $height;
  border: 1px solid $grey-border-color;
  border-radius: 4px;
  margin: 0 10px 0 0;
  font-size: 1em;
  padding: 0.4em;
  outline: 0;
  &:focus {
    box-shadow: 0px 0px 10px 1px rgba(173,240,191,1);
  }
}

@mixin label-field($height) {
  box-sizing: border-box;
  display: inline-block;
  width: $input-labels-width;
  height: $height;
  text-align: right;
}

@mixin submit-field($height) {
  margin-left: $input-labels-width + 8px;
  width: $input-field-width;
  max-width: 750px;
  height: $height;
}

@mixin form-field($height) {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: $height;
  margin: 15px 0;

  label{
    @include label-field($height);
  }

  input[type='text'] {
    @include text-field($height);
  }

  input[type='submit'] {
    @include submit-field($height);
    font-size: 1em;
    font-weight: bold;
  }

  textarea {
    @include text-field($height);
    resize: none;
  }
}


@mixin button {
  box-sizing: border-box;
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  font-size: 0.75em;
  color: #ffffff;

  &:hover {
    cursor: pointer;
  }
}

@mixin button-default {
  background-color: $button-default-color;
  &:hover {
    background-color: lighten($button-default-color, 2%);
  }
}

@mixin button-success {
  background-color: $button-success-color;
  &:hover {
    background-color: lighten($button-success-color, 2%);
  }
}
