@import 'vars';
@import 'mixins';

html {
  box-sizing: border-box;
  font-size: 1.4em;
  font-family: Verdana, Geneva, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}

main {
  margin: 8px;

  .form-field-50 {
    @include form-field(50px);
  }

  .form-field-200 {
    @include form-field(200px);
  }

  .table-field {
    width: 100%;
    border-collapse: collapse;
    thead {}
    tbody {
      font-size: 0.6em;
      th, td {
        margin: 0;
        padding: 5px;
        border-bottom: 1px solid $grey-border-color;
      }
    }
  }
}

footer {
  margin-top: 25px;
  padding: 5px;
  background-color: #EBEBEB;
  text-align: center;
  font-size: 0.6em;
  color: #999999;
}
