@mixin text-field($height) {
  box-sizing: border-box;
  display: inline-block;
  width: calc(100% - 300px);
  height: $height;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 0 10px 0 0;
  font-size: 1em;
  padding: 0.4em;
  outline: 0;
  &:focus {
    box-shadow: 0px 0px 10px 1px rgba(173,240,191,1);
  }
}


@mixin label-field($height) {
  box-sizing: border-box;
  display: inline-block;
  width: 180px;
  height: $height;
  text-align: right;
}

@mixin submit-field($height) {
  box-sizing: border-box;
  margin-left: 188px;
  width: calc(100% - 300px);
  background-color: #00EC41;
  border: 0;
  border-radius: 4px;
  height: $height;
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;

  &:hover {
    cursor: pointer;
    background-color: #1DFF5C;
  }
}

@mixin form-field($height) {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: $height;
  margin: 15px 0;

  label{
    @include label-field($height);
  }

  input[type='text'] {
    @include text-field($height);
  }

  input[type='submit'] {
    @include submit-field($height);
  }

  textarea {
    @include text-field($height);
    resize: none;
  }
}



html {
  box-sizing: border-box;
  font-size: 1.4em;
  font-family: Verdana, Geneva, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 8px;
}

.main-title {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}

.form-field-50 {
  @include form-field(50px);
}

.form-field-200 {
  @include form-field(200px);
}
