@import 'vars';
@import 'mixins';

html {
  box-sizing: border-box;
  font-size: 1.3em;
  font-family: Verdana, Geneva, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}

.button-success {
  @include button;
  @include button-success;
}

.button-default {
  @include button;
  @include button-default;
}

.table-field {
  width: 100%;
  border-collapse: collapse;
  thead {
    text-align: left;
    tr>th:not(:last-child){
      width: 20%;
    }
    tr>th:last-child{
      width: 40%;
    }
  }
  tbody {
    font-size: 0.6em;
    th, td {
      margin: 0;
      padding: 5px;
      border-bottom: 1px solid $grey-border-color;
    }
  }
}

main {
  margin: 8px;

  .form-field-50 {
    @include form-field(50px);
  }

  .form-field-200 {
    @include form-field(200px);
  }
}

footer {
  height: 100px;
  margin-top: 25px;
  padding: 15px;
  background-color: #EBEBEB;
  text-align: center;
  font-size: 0.6em;
  color: #999999;
}

.flash {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 10px);
  height: 50px;
  color: #ffffff;
  border-radius: 4px;
  margin: 5px;
  padding: 14px 30px;
  font-size: 0.75em;

  &.success_flash { background-color: #7AD755; }
  &.error_flash { background-color: #EF7070; }
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.col-3, .col-4, .col-5, .col-6, .col-7, .col-8 {
  width: 100%;
  padding: 10px;
  float: left;
  margin-bottom: 10px;
}

@media all and (min-width: 1210px) {
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33%;
  }
  .col-5 {
    width: 41%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 59%;
  }
  .col-8 {
    width: 66%;
  }
}
