<% if flash[:success_flash] %>
  <h4 class="success_flash"><%= flash[:success_flash] %></h4>
<% end %>

<% if flash[:error_flash] %>
  <h3 class="error_flash"><%= flash[:error_flash] %></h3>
<% end %>
