<form action="send_message" method="post">
  <div>
    <label for="email">Email:</label>
    <input type="text" name="email">
  </div>

  <div>
    <label for="authId">Auth ID:</label>
    <input type="text" name="authId">
  </div>

  <div>
    <textarea name="body"></textarea>
  </div>

  <div>
    <input type="submit" value="Send">
  </div>
</form>
