<h1>Twilio Interface</h1>

<form action="/send_message" method="post">
  <label for="email">Email:</label>
  <input type="text" name="email">

  <label for="authId">Auth ID:</label>
  <input type="text" name="authId">

  <textarea name="body"></textarea>

  <input type="submit" value="Send">
</form>
