<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Twilio Messaging Interface</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </head>
  <body>
    <%= render_erb_partial(:"partials/flash", locals: {flash: flash}) if defined?(flash)%>

    <header>
      <h1>Twilio Messaging Interface</h1>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>Twilio Messaging Interface - v0.1 (alpha)</footer>

  </body>
</html>
