<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Twilio Messaging Interface</title>
  </head>
  <body>

    <% if defined? success_flash %>
      <h4 class="success_flash"><%= success_flash %></h4>
    <% end %>
    <% if defined? error_flash %>
      <h3 class="error_flash"><%= error_flash %></h3>
    <% end %>

    <h1>Twilio Messaging Interface</h1>
    <%= yield %>
  </body>
</html>
